@import "tailwindcss";

*{
    font-family: cursive;
}
body{
    overflow: hidden ;
}
input::placeholder{
    font-family:cursive
}

.ant-menu-item-selected{
    background-color: #ffffffa5 !important;
    color: black !important;
}